{# Begin: Header #}
<section id="header-wrapper">
    <section id="header-content">
        <div class="header-wrapper" id="header-spacer">
            <header id="header-zone">
                <div id="logo-wrapper">
                    <div id="logo">
                        <a href="{{ _host }}" title="Suzuki Autos Guadalajara">
                            <span>Suzuki <sup style="position: relative; top: -2px;">&copy;</sup> Guadalajara</span>
                        </a>
                    </div>
                </div>
                <div id="regular-header">
                    <div class="content-no_wrapper">
                        <div id="top-bar">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="{{ _host }}grupo" title="Grupo">
                                            <span>Grupo</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ _host }}concesionarias" title="Concesionarias">
                                            <span>Concesionarias</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ _host }}catalogos" title="Catalogos">
                                            <span>Cat치logos</span>
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="{{ _host }}cotactanos" title="Contact치nos">
                                            <span>Cont치ctanos</span>
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="http://suzukigdl.com.mx/seminuevos/" title="Seminuevos L칩pez Mateos">
                                            <span>Seminuevos</span>
                                        </a>
                                    </li>
                                    <li class="last">
                                        {% block phone_call %}
                                        {% endblock %}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="main-nav">
                            <nav>
                                <ul>
                                    <li>
                                        <a id="header-models-button" title="Modelos">
                                        {#
                                        <a id="header-models-button" title="Modelos" class="model expand-header">
                                        #}
                                            <span>Modelos</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="header-financing-button" title="Prueba de Manejo">
                                        {#
                                        <a id="header-financing-button" title="Financiamiento" class="financing expand-header">
                                        #}
                                            <span>Financiamiento</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="header-owners-button" title="Propietarios" class="owners expand-header">
                                            <span>Mi Suzuki</span>
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a id="header-before-buy-button" title="Antes de comprar" class="before-buy expand-header">
                                            <span>Comprar un Suzuki</span>
                                        </a>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                {#
                <div id="content-section-models-header"></div>
                #}
                <div id="models-header">
                    <div class="content" id="content-models-header"></div>
                </div>
            </header>
            <div id="header-mobile">
                <a id="return-index"><img src="img/template/common/header/horizontal_logo.png" alt="Logo Suzuki"></a>
                <i class="fa fa-bars"></i>
            </div>
            <div id="header-panel" class="header-panel">
                <div id="header-sections-wrapper" class="current-sections-wrapper"></div>
            </div>
        </div>
    </section>
</section>
{# End: Header #}