<div id="mobile-menu">
	<div></div>
	<ul>
		{#<li>
			<a href="#" id="header-menu-test-drive">Agendar prueba de manejo</a>
		</li>#}
		<li>
			<a href="{{ _host }}catalogos" id="go-catalogs">Catálogos</a>
		</li>
		<li>
			<a id="header-menu-before-buy">Comprar un Suzuki</a>
		</li>
		<li>
			<a href="{{ _host }}concesionarias" id="go-concesionaries">Concesionarias</a>
		</li>
		<li>
			<a href="{{ _host }}contacto" id="go-contact">Contacto</a>
		</li>
		<li>
			<a href="{{ _host }}financiamiento" id="mobile-menu-financing">Financiamiento</a>
		</li>
		<li>
			<a href="{{ _host }}grupo" id="go-group">Grupo</a>
		</li>
		<li>
			<a id="header-menu-owners">Mi Suzuki</a>
		</li>
		<li>
			<a href="{{ _host }}modelos" id="mobile-menu-models">Modelos</a>
		</li>
		{#
		<li>
			<a href="#" id="header-menu-promo">Promociones</a>
		</li>
		#}
		<li>
			<a <a href="http://suzukigdl.com.mx/seminuevos/" title="Seminuevos López Mateos">Seminuevos</a>
		</li>
	</ul>
</div>