<div class="inner-menu">
    <div class="list-catalog">
        <ul class="list-dropdown">
            <li>
                <a href="{{ _host }}catalogos/nueva-vitara" class="ld-catalogs hvr-underline-from-center">Nueva Vitara</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/ciaz" class="ld-catalogs hvr-underline-from-center">Ciaz</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/swift" class="ld-catalogs hvr-underline-from-center">Swift</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/kizashi" class="ld-catalogs hvr-underline-from-center">Kizashi</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/grand-vitara" class="ld-catalogs hvr-underline-from-center">Grand Vitara</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/swift-sport" class="ld-catalogs hvr-underline-from-center">Swift Sport</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/s-cross" class="ld-catalogs hvr-underline-from-center">S-Cross</a>
            </li>
            <li>
                <a href="{{ _host }}catalogos/ignis" class="ld-catalogs hvr-underline-from-center">Ignis</a>
            </li>
        </ul>
    </div>
</div>